.input__form {
  @include form-text;
  width: 350px;
  height: 48px;
  padding-left: 15px;
  border: 1.5px solid var(--color-background-100);
  border-radius: 8px;
  &:disabled {
    background-color: var(--color-background-200);
  }
}
.card-input {
  padding: 8px 18px 10px;
  border: 1.5px solid var(--color-background-400);
  border-radius: 7px;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.6;
}
.delivery-input {
  @include form-text;
  width: 539px;
  height: 48px;
  padding-left: 15px;
  border: 1.5px solid var(--color-background-300);
  border-radius: 7px;
  opacity: 0.9;
  &:disabled {
    background-color: var(--color-shadow-200);
  }
}
